/* 
Author: Alexandr Milevskiy.
*/


body {
	font: 14px/18px Arial, sans-serif;
	color: #000;
	width: 100%;
	background: #fff;
}

strong 
{
    font-weight: bold;
}

h1 {
    font-size: 73px;
    line-height: 1em;    
    text-transform: uppercase;

}

h2 {
    font-size: 48px;
    line-height: 1em;  
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
    line-height: 1em;  
    text-transform: uppercase;
}

a {
    text-decoration: none;	
}

p {  
	
}

button, button:hover, .my-works-button, .my-works-button:hover {
    background-color: #000;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
	margin: 20px auto;
	}

button:hover, .my-works-button:hover {
    background-color: #fff;
    color: #000;
    -webkit-transition: background-color 0.5s, color 0.5s;
     -moz-transition: background-color 0.5s, color 0.5s;
     -o-transition: background-color 0.5s, color 0.5s;
     transition: background-color 0.5s, color 0.5s;
	}    

footer
{
    text-align: center;
}

.my-works-button
{
    max-width: 100px;
}    

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* main_page */
    /* header */
 
.header {
    position: relative;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 50px;
}

.logo {
	background: url(../images/logo.png) no-repeat;	
    width: 250px;
    height: 80px;
	float: left;
}

.navigation {
    position: absolute;
    right: 0;
    padding: 25px;
}

.navigation a 
{
    padding: 0 10px 0 10px;
    color: #fff;
}
/* header */

.me {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;

}
/* main_page */

.me h1, .me h2
{
    color: #fff;
}

.projects 
{
    text-align: center; 
    vertical-align: middle;
}

.projects h2
{
    text-align: center;
    padding: 30px;
}

.item
{
    width: 33%;
    display: inline-block;
}

.item-image 
{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: block;
    margin: 0 auto; 
}

.item-name 
{
    padding-bottom: 15px;
}

.item-description
{
    padding: 10px;
    text-align: center;
}

.item-description a
{
    display: block;
}

.description-skills
{
    margin-top: 25px;
}

.skills
{
    background-color: #0d0d0d;
    color: #fff;
}

.languages
{
    margin-top: 25px;
}

.table-skills
{
    margin-top: 25px;
}

.table-skills tr
{
    border-bottom: 2px solid #0d0d0d;

}

.table-skills tr th 
{
    display: block;
    margin-right: 20px;
}

.table-skills tr td
{
    width: 35px;
    border: 5px  #fff;
}

.table-skills tr td:last-child
{
    display: block;
    margin-left: 10px;
}

.contacts-description
{
    margin-top: 25px;
}

.social
{
    margin: 25px 0 25px 0;
}

.social, .other-contacts, .contacts-description 
{
    text-align: center;
}

.contacts
{
    background: #dde5e7;
}


.parallax-window {
    min-height: 300px;
    background: transparent;
}

/* 
Author: Alexandr Milevskiy.
*/